@charset "UTF-8";
/*Colores*/
/*Titulos*/
/*Decoración*/
/*Pagina principal - defecto*/
* {
  margin: 0;
  padding: 0;
  justify-content: center;
}

body {
  background-color: #FFF3F8;
}

h4, h1, h2 {
  background-image: radial-gradient(circle, #ffcbdf, #ffd5e6, #ffdfec, #ffe9f2, #fff3f8);
  padding: 0.9rem;
  font-size: 1.5rem;
  text-align: center;
}

h3, h5 {
  text-align: center;
  margin: 0 auto;
}

p {
  text-align: center;
}

h6 {
  display: flex;
  justify-content: center;
  text-decoration: line-through;
}

/*CARDS GENERALES PARA TODOS LOS PRODUCTOS*/
.card {
  width: 10rem;
  margin: 1.9rem 1.9rem 0.9rem 1.3rem;
  background-color: white;
  border: solid #FF8AA0;
  box-shadow: 0rem 0rem 0.4rem black;
}
.card .card-header {
  font-size: 1.3rem;
  text-align: center;
}
.card .btn {
  display: flex;
}

/*Boton de Whatsapp en todas las paginas*/
.whatsapp {
  width: 55px;
  position: fixed;
  bottom: 310px;
  right: 50px;
}
.whatsapp:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 2px black;
}

header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffcbdf, #ffd5e6, #ffdfec, #ffe9f2, #fff3f8);
}
header img {
  width: 65%;
}
header img:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 2px black;
}
header .navbar-nav {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  font-size: 1rem;
  margin-left: 1.9rem;
}
header .nav-item {
  background-color: #FFEDF0;
  padding: 8px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 2px black;
}
header .nav-item:hover {
  transform: scale(1.1, 1.1);
}

/*Carrousel de imagenes*/
#carouselExampleIndicators {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/*Frase de bienvenida*/
#frase {
  font-style: italic;
}

/*ESTILO DE CARDS = VER EN GENERALES*/
/*Estilo de Categorias*/
.categoria {
  display: flex;
  width: 120%;
  margin: 0 auto;
  border-radius: 1.9rem;
}
.categoria:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 2px black;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.categorias-index {
  display: flex;
  width: 25%;
  margin: 0 auto;
  transform: scale(1.1, 1.1);
}
.categorias-index:hover {
  transform: scale(1.1, 1.1);
}

/*Medio de pago*/
.container-medio-pago .efectivo-transferencia {
  display: flex;
  gap: 30px;
}
.container-medio-pago .efectivo-transferencia .efectivo, .container-medio-pago .efectivo-transferencia .transferencia, .container-medio-pago .efectivo-transferencia .tarjeta {
  color: #2B363B;
  display: flex;
  font-size: 7.5rem;
}
.container-medio-pago .entidades-pago {
  color: #566B76;
  display: flex;
  align-items: center;
  font-size: 7rem;
}

/*Menu del Footer*/
footer {
  display: flex;
  background-color: #ffcbdf;
  justify-content: left;
  align-items: center;
  padding: 3.1rem;
}
footer .container .footer-row {
  display: flex;
}
footer .container .footer-row .footer-nav {
  margin: auto;
}
footer .container .footer-row .footer-nav .redes-sociales {
  display: flex;
  gap: 40px;
}
footer .container .footer-row .footer-nav .redes-sociales a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
footer .container .footer-row .footer-nav .redes-sociales a:hover {
  transform: scale(1.5, 1.5);
  color: #FF146A;
}
footer .container .footer-row .footer-nav .footer-logo-newart {
  display: flex;
}
footer .container .footer-row .footer-nav .footer-logo-newart img {
  width: 60%;
  border-radius: 300px;
}
footer .container .footer-row .footer-nav .footer-logo-newart img:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 2px black;
}
footer .container .footer-row .footer-nav .footer-menu {
  list-style: none;
  text-decoration: none;
}
footer .container .footer-row .footer-nav .footer-menu .footer-list {
  display: flex;
  justify-content: left;
  text-decoration: none;
  margin: 15px;
  color: black;
}
footer .container .footer-row .footer-nav .footer-menu .footer-list:hover {
  color: #FF146A;
  transform: scale(1.1, 1.1);
}

/*Frase de Mayorista y minorista*/
.frase {
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
