/*Menu del Footer*/

footer{
    display: flex;
    background-color: #ffcbdf;
    justify-content: left;
    align-items: center;
    padding: 3.1rem;
}    
.footer-container{
    display: flex;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-logo, .footer-redes{
    @include flex-column
}

.footer-logo{
    img{
        width: 90%;
        border-radius: 120px;
        &:hover{
            transform: $scale-3d;
            box-shadow: $fondo-black;
    }
}
}

.footer-nav{
    .footer-menu{
        display: flex;
        flex-direction: column;
        gap: $espacio-chico;
        list-style: none;
        text-decoration: none;
        .footer-list{
            text-decoration: none;
            color: black;
            gap: $espacio-medio;
            &:hover{
                color: #FF146A;
            }
        }
    }
}

.footer-redes{
    .redes-sociales{
        a{
            text-decoration: none;
            color: black;
            font-size: 35px;
            margin: 15px;
            &:hover{
                color:#FF146A;
                transform: scale(1.3,1.3);
            }
        }   
    }
}

