footer{
    display: flex;
    background-color: #FFD3DB;
    justify-content: left;
    align-items: center;
    padding: 3.1rem;
    .col-md-6{
        display: flex;
        align-items: center;
        .footer-a{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            &:hover{
                color:white
            }
            .logo-newart{
                width: 100%;
                &:hover{
                    transform: scale(1.1, 1.1);
                    box-shadow: 1px 1px 2px black;
                }
            }
            .nav-item{
                display: flex;
                margin: 3px;
                background-color:#FFEDF0;
                padding: 0.5rem;
                border-radius: 1.6rem;
                text-decoration: none;
                color: black;
                box-shadow: 1px 1px 2px black;
                &:hover{
                    transform: scale(1.1,1.1);
                }
            }
        }
    }
}