/*Menu del Footer*/

footer{
    display: flex;
    background-color: #ffcbdf;
    justify-content: left;
    align-items: center;
    padding: 3.1rem;
    .container{
        .footer-row {
            display: flex;
            .footer-nav{
                margin: auto;
                .redes-sociales{
                    display: flex;
                    gap: 40px;
                    a{
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        color:black;
                        font-size: 30px;
                        &:hover{
                            transform: scale(1.5,1.5);
                            color: #FF146A;
                    }
                    }   
                }
                .footer-logo-newart{
                    display: flex;
                    img{
                        width: 60%;
                        border-radius: 300px;
                        &:hover{
                            transform: $scale-3d;
                            box-shadow: $fondo-black;
                        }
                    }
                }
                .footer-menu{
                    list-style: none;
                    text-decoration: none;
                    
                    .footer-list{
                        display: flex;
                        justify-content: left;
                        text-decoration: none;
                        margin:15px;
                        color:black;
                        &:hover{
                            color:#FF146A;
                            transform: $scale-3d;
                        }
                    }
                }
                
            }
        }
    }
}    
