/*Pagina principal - defecto*/
*{
    margin:0;
    padding: 0;
    justify-content: center;
}

body{
    background-color: $color-terciario;
}

h4, h1{
    background-image: $titulo-principal;
    padding: 0.9rem;
    font-size: 1.5rem;
    text-align: center;
}

h2, h3{
    text-align: center;
    margin: 0 auto;
}


h5{
    display: flex;
    justify-content: center;
    text-decoration: line-through ;
}

p{
    text-align: center;
}

/*CARDS GENERALES PARA TODOS LOS PRODUCTOS*/

.card{
    width: 10rem;
    margin: 1.9rem 1.9rem 0.9rem 1.3rem;
    background-color: white;
    border: solid #FF8AA0;
    box-shadow: 0rem 0rem 0.4rem black;
    .card-header{
        font-size: 1.3rem;
        text-align: center;
    }
        .btn{
            display: flex;
        }
}

/*Boton de Whatsapp en todas las paginas*/

.whatsapp{
    width: 55px;
    position: fixed;
    bottom: 310px;
    right: 50px;
    &:hover{
        transform: $scale-3d;
        box-shadow: $fondo-black;
    }
}

