header{
    display:flex;
    align-items: center;
    background-image: $color-grad-lineal;
        img{
            width: 65%;
        }
        img:hover{
            transform: $scale-3d;
            box-shadow: $fondo-black;
        }
        .navbar-nav{
            display: flex;
            list-style: none;
            gap: 1.25rem;
            font-size: 1rem;
            margin-left:1.9rem;
        }
            .nav-item{
                background-color:$color-nav-header;
                padding: 8px;
                border-radius: 25px;
                text-decoration: none;
                color: $color-negro;
                box-shadow: $fondo-black;
            }
            .nav-item:hover{
                transform: $scale-3d;
            }
}

