/*Carrousel de imagenes*/

#carouselExampleIndicators{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
/*Frase de bienvenida*/

#frase{
    font-style: italic ;
}

/*Promociones*/

.card-body{
    h5{
        color:red;
    }
}

/*Estilo de Categorias*/

.container-categorias{
    display: flex;
    .container-pinturas, .container-pincel, .container-marcadores{
        @include flex-column;
        &:hover{
            transform: $scale-3d;
        }
        a{
            display: flex;
            img{
                width: 70%;
            }    
        }
    }
}





/*Medio de pago*/

.container h3{
    font-size: 20px;
}

.container-pago-general{
    display: flex
}

.container-pago, .contenedor-entidades {
    @include flex-column;
    gap:$espacio-grande;
}

@media (min-width: $desktop){
    .container-pago, .contenedor-entidades{
        flex-direction: row;
        justify-content: center;
        gap: $espacio-chico;
    }
}



.efectivo, .transferencia, .tarjeta, .visa, .american-express, .master-card, .mercado-pago {
    @include flex-column;

    iconify-icon{
        font-size: $icono-grande;
    }
}