/*Carrousel de imagenes*/

#carouselExampleIndicators{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
/*Frase de bienvenida*/

#frase{
    font-style: italic ;
}

/*ESTILO DE CARDS = VER EN GENERALES*/

/*Estilo de Categorias*/

.categoria{
    display: flex;
    width: 120%;
    margin: 0 auto;
    border-radius: 1.9rem;
    &:hover{
        transform: $scale-3d;
        box-shadow: $fondo-black;
    }
}

.row{
    width: 90%;
    margin: 0 auto;
}

.categorias-index {
    display: flex;
    width: 25%;
    margin: 0 auto;
    transform: $scale-3d;
    &:hover{
        transform: $scale-3d;
    }
}


/*Medio de pago*/

.modo-pago{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}