/*Carrousel de imagenes*/

#carouselExampleIndicators{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
/*Frase de bienvenida*/

#frase{
    font-style: italic ;
}

/*ESTILO DE CARDS = VER EN GENERALES*/

/*Estilo de Categorias*/

.categoria{
    display: flex;
    width: 120%;
    margin: 0 auto;
    border-radius: 1.9rem;
    &:hover{
        transform: $scale-3d;
        box-shadow: $fondo-black;
    }
}

.row{
    width: 90%;
    margin: 0 auto;
}

.categorias-index {
    display: flex;
    width: 25%;
    margin: 0 auto;
    transform: $scale-3d;
    &:hover{
        transform: $scale-3d;
    }
}


/*Medio de pago*/

.container-medio-pago{
    .efectivo-transferencia{
        display: flex;
        gap:30px;
        .efectivo, .transferencia, .tarjeta{
            color:#2B363B;
            display: flex;
            font-size: 7.5rem;
        }
    }
    .entidades-pago{
        color:#566B76;
        display: flex;
        align-items: center;
        font-size: 7rem;
    }
    }