/*Colores*/
$color-terciario: #FFF3F8;


/*Titulos*/

$titulo-principal: radial-gradient(circle, #ffcbdf, #ffd5e6, #ffdfec, #ffe9f2, #fff3f8);


/*Decoración*/

$fondo-black: 1px 1px 2px black;
$scale-3d: scale(1.1,1.1)

